body {
    background-color: black;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 120px;
}
.navbar img {
width: 15%;
object-fit:contain;
padding:  0px;
}

#btn-1 {
    background-color: #e50914;
    color: white;
    border: none;
    font-size: 10px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 16px;
    text-align: center;
   height: 30px;
}


#btn-1:hover {
    background-color: darkred;
}

.First-Container{
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),url(images/IN-en-20231204-popsignuptwoweeks-perspective_alpha_website_large.jpg);
height: 700px;
background-repeat: no-repeat;
background: (0 0 0 / 40%);
background-size: cover;

}


.Text-section {
    color: white;
    margin-top: 200px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;

}

.Text-section h1 {
font-size: 4rem;
font-weight: 700;
}



.Text-section h6 {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 0;
}


.Input-Section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

h6 {
color: white;
font-size: 1.5rem;
font-weight: 100;
text-align: center;
margin: 0;
margin-bottom: 30px;

}

#Email-box {
    width: 25%;
    height: 45px;
    background: scroll;
    border: 1px solid white;
    color: white;
   
}

#Get-started-btn {
    padding: 8px;
    color: white;
    background-color: #e50914;
    border: none;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 15px;
    font-weight: 200;
    margin-left: 8px;
    cursor: pointer;
}

#Get-started-btn:hover {
    background-color: darkred;
}

input::placeholder {
    color:gray;
    font-size: 1rem;
    padding-left: 3px;
}

hr {
    /* margin-top: 120px; */
    color: bisque;
    opacity: 50%;
    height: 2px;
}


/* Seconf Container Css */

.Right-img {
    color: white;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding: 40px 200px;

}

.Right-img h1 {
    font-size: 4rem;
    font-weight: 700;
}


.Right-img h3 {
    font-size: 1.5rem;
    font-weight: 100;
}
/* 
.img-box2 {
    width: 60%;
} */


/* Third Container */


.Left-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px 100px;
}

.Left-img h1 {
    font-size: 4rem;
    font-weight: 700;
}


.Left-img h3 {
    font-size: 1.5rem;
    font-weight: 100;
}

/* .img-box3 {
    width: 60%;
} */



/* FAQ SECTION */

.faq-section {
    color: white;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 10px 20%;
    min-height: 100vh;
    gap: 10px;
  
    
}

.ques  {
    background-color: #2d2d2d;
    padding: 20px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    cursor: pointer;
    transition: all 1s ease-in-out;

}
.ques h1 {
    font-weight: 100;
}

.ques:hover {
    background-color: #525151;
}


.ans {
max-height: 0px;
width: 100%;
overflow: hidden;
transition: max-height .3s ease-in-out;
}

.ans p {
    background-color: #2d2d2d;
    padding: 30px;
    font-size: 20px;
    border-top: 1px solid black;
}

.faq-section.active .ans{
max-height: 300px;
}

.faq-section.active i {
    transform: rotate(45deg);
}

#Heading-faq {
color: white;
text-align: center;
font-size: 4rem;
padding-top: 30px;
}

.emailsignup {
    padding-top: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 10px 10px;
    font-size: larger;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


.lastcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 40px ;
    padding-bottom: 40px ;

    

    
}

.first-column, .second-column, .third-column{
    margin-right: 120px;
}


@media only screen and (max-width: 900px) {
    .Left-img {display: flex;
               flex-direction: column-reverse;
               justify-content: center;
               align-items: center;
               padding: 0;
               text-align: center;
    }
   .Right-img {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;

   }

   .all-Image {
    width: 50%;
   }
   .Left-img h1 {
    font-size: 2.5rem;
    font-weight: 700;
}


.Left-img h3 {
    font-size: 1rem;
    font-weight: 100;
}
.Right-img h1 {
    font-size: 2.5rem;
    font-weight: 700;
}


.Right-img h3 {
    font-size: 1rem;
    font-weight: 100;
}

.Text-section h1 {
    font-size: 3rem;
    font-weight: 700;
    }
    
    
    
    .Text-section h6 {
        font-size: 1.5rem;
        font-weight: 100;
        margin-top: 0;
    }
    .First-Container {
        margin-bottom: 40px;
    }

    .navbar img {
        width: 25%;
        object-fit:contain;
        ;}
}